.dribbble{
    padding: 64px 0;
}

.dribbble__image{
    display: block;
    width: 100%;
    min-height: 516px;
    object-fit: cover;
    object-position:left;
    margin-top: 64px;
}

.dribbble__text{
    margin: 24px 0 40px;
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .dribbble{
        padding: 80px 0;
    }

    .dribbble__image{
        margin-top: 120px;
    }
}

/* DESKTOP */
@media(min-width:1200px){
    .dribbble{
        padding: 120px 0;
    }
    

    .dribbble__text{
        max-width: 636px;
    }
}
