.footer{
    background: var(--level-1);
    margin: 0 -20px;
    padding: 48px 20px;
}

.footer__logo{
    width: 130px;
    height: auto;
}

.footer__net-menu{
    display: flex;
    gap: 16px;
    margin: 32px 0 48px;
}

.footer__sec-menu{
    display: grid;
    gap: 24px;
    margin-bottom: 48px;
}

.footer__sec-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    text-decoration: none;
}


.footer__text{
    font-size: 16px;
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .footer{
        margin: 0 -40px;
        padding: 80px 40px 56px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) 0.5fr;
    }

    .footer__net-menu{
        grid-area: 1 / 1 / 3 / 2;    
    }
    
    .footer__sec-menu{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        grid-auto-flow:column;
        grid-area: 1 / 2 / 3 / 3;
    }

    .footer__sec-link{
        width: 154px;
    }

    .footer__text{
        grid-area: 3 / 1 / 4 / 3;   
        max-width: 330px; 
    }

}

/* DESKTOP */
@media(min-width:1200px){
    .footer{
        margin: 0 -72px;
        padding: 80px 72px;
        grid-template-columns: 1.75fr 1fr;
    }

 
    
    
}