.herosection__back{
    display: none;
}

.herosection{
    margin: 0 -20px;
    border-bottom: 2px dashed white;
}

.herosection__image{
    width: 100%;
    max-height: 288px;
    object-fit: cover;
}

.herosection__wrapper{
    padding:48px 20px;
}

.herosection__title{
    font-weight: 700;
    font-size: 32px;
    color: var(--white);
}

.herosection__text{
    color: var(--white);
}

.herosection__title--grey{
    color: rgba(255, 255, 255, 0.5);
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .herosection{
        margin: 80px -40px 84px;
        border: 1px solid transparent;
    }

    .herosection__image{
        width: 384px;
        max-height: 650px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        top: 168px;
    }

    .herosection__wrapper{
        z-index: 2;
        position: relative;
        padding: 87px 0;
        max-width: 408px;
        left: 320px;
    }

    .herosection__title{
        font-size: 56px;
        margin-bottom: 32px;
    }

}

/* DESKTOP */
@media(min-width:1200px){
    .herosection{
        margin: 80px -72px 84px;
    }

    .herosection__back{
        display: block;
        width: 900px;
        height: 900px;
        background: var(--level-1);
        position: absolute;
        top: 0;
        margin-left: 540px;
    }

    .header{
        position: relative;
        z-index: 2;

    }

    .herosection__image{
        width: 750px;

    }

    .herosection__title{
        font-size: 78px;
        margin-bottom: 32px;
    }

    .herosection__wrapper{
        left: 662px;
        max-width: 738px;
        padding: 141px 0;
    }
}    