.photography__text{
    margin: 24px 0 40px;
}

.photography__menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 40px;
}

.photography__button{
    padding: 12px 0;
}

.photography__wrapper{
   display: flex;
   flex-direction: column;
   gap: 24px; 
}

.photography__image{
    width: 100%;
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .photography__menu{
        display: flex;
        flex-direction: row;
        
    }

    .photography__wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .photography__image{
        max-width: calc(50% - 12px);
    }

    .photography__button{
        padding: 12px 16px;
    }

    .photography__text{
        margin: 24px 0 64px;
    }
}

/* DESKTOP */
@media(min-width:1200px){
    .photography__image{
        flex: 1;
    }
    
}

