.project{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.project__title-wrapper{
    margin-bottom: 32px;
}

.project__card-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project__card{
    background: var(--level-1);
}

.project__card-label{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--white);
    margin: 40px 32px 13px;
}

.project__card-text{
    margin: 0 32px 40px;
}

.project__button{
    display: none;
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .project__card-image{
        height: 620px;
    }

}

/* DESKTOP */
@media(min-width:1200px){
    .project{
        max-height: 2300px;
        flex-wrap: wrap;
        gap: 24px;
    }

    .project__card{
        max-width: 636px;
    }

    .project__title-wrapper{
        max-width: 636px;
    }

    .project__button{
        display: block;
        margin: 67px auto;
    }
}