.review__text{
    margin: 16px 0 40px;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.review__title-wrapper{
    margin-bottom: 16px;
}

.review__block{
    max-width: 100%;
    border: 1px solid var(--dark-grey);
}

.review__block-img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 60%;
}

.review__block-text{
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
    margin: 32px;
}

.review__author{
    margin: 32px 32px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--light-grey);   
}

.review__company{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--light-grey); 
    margin: 0 32px 32px;  
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .review{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 64px;
        column-gap: 24px;
    }

    .review__title-wrapper{
        grid-column: 1/2;
    }

    .review__block{
        grid-column: 2/3;
    }
}

/* DESKTOP */
@media(min-width:1200px){
    .review{
        row-gap: 120px;
        column-gap: 72px;
    }
    
}