.start__text{
    margin: 16px 0 48px;
}

.start__label{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.start__input{
    width: 100%;
    height: 50px;
    background: var(--level-1);
    border: none;
    margin: 8px 0 40px;
}

.start__input--large{
    height: 100px;
}

.start__button{
    width: 100%;
}

/* ПЛАНШЕТ */
@media(min-width:768px){
    .start{
        display: flex;
        gap: 24px;
        padding: 0 110px;
    }

    .start__wrapper{
        flex: 1;
    }
}

/* DESKTOP */
@media(min-width:1200px){
    
}